/* цвет основного текста #757575 */
/* цвет вторичного текста #212121 */
/* белый #FFFFFF */
/* цвет акцента #2196F3 */
/* белый прозрачный в футере rgba(255, 255, 255, 0.6) */
/* черный в logo #000000 */
/* вторичный цвет фона #F5F4FA */
/* основной цвет фона #FFFFFF */
/* цвет фона героя и футера #2F303A */
/* цвет нижней рамки хедера #ECECEC */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --btn-grey-color: #f5f4fa;
  --logo-black-color: #000000;
  --bgc-header-color: #2f303a;
  --address-footer-color: rgba(255, 255, 255, 0.6);
  --border-header-color: #ececec;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

.list,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-right: 15px;
}

.container.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-header-color);
}

/* Logo header */
.logo-header {
  color: var(--logo-black-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.web {
  color: var(--accent-color);
}
/* Ховер и фокус работают криво. Что подправить? */
.logo-header:hover,
.logo-header:focus,
.logo-footer:hover,
.logo-footer:focus,
.web:hover,
.web:focus {
  color: var(--logo-black-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Site */
.header-contacts .link {
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--bgc-header-color);
  text-align: center;
}

.hero-title {
  color: var(--main-white-color);

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding-bottom: 30px;
}

.button.order {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

.button.order:hover,
.button.order:focus {
  color: var(--title-text-color);
  background-color: var(--btn-grey-color);
}

.hide {
  visibility: hidden;
  font-size: 0;
}

/* Advantages */

.section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.advantages .title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.container.work .section-title,
.container.cooperators .section-title {
  padding-bottom: 50px;
}

/* Team */
.section.team {
  margin-bottom: 0;
}
.team {
  background-color: var(--btn-grey-color);
}

.container.cooperators .section-title {
  padding-top: 94px;
}

.cooperators .cooperator {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  padding-top: 30px;
  padding-bottom: 10px;
}

.cooperators .post {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  padding-bottom: 30px;
}

/* Footer */

.footer {
  background-color: var(--bgc-header-color);
}

.logo-footer {
  color: var(--main-white-color);

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.address {
  color: var(--main-white-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-mail,
.address-tel {
  color: var(--address-footer-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}

/* Button */
.button {
  color: var(--title-text-color--);
  background-color: var(--main-white-color);

  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-block;
}

.button.primary {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.button.portfolio {
  color: var(--title-text-color);
  background-color: var(--btn-grey-color);
}

/* Стили Портфолио */
.portfolio-title {
  color: var(--title-text-color);
}

/* Меню работ */
.menu.list {
  padding-bottom: 50px;
}

.button .portfoio.current-btn {
  background-color: var(--accent-color);
}

.menu .button:hover,
.menu .button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

/* Примеры работ */

.list .link {
  text-decoration: none;
}

.list-title {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;
}

.list .name {
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  letter-spacing: 0.03em;
}
